<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Academia Alkemy</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    @if (User.Identity.IsAuthenticated)
    {

        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand " asp-area="" asp-controller="Home" asp-action="Index">
                        <img class="pt-2 pb-1 img-fluid" src="https://alkemy.org/assets/images/logo-header.png" alt="">
                    </a>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            @if (User.IsInRole(nameof(Rol.Administrador)))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Admins" asp-action="Index">Administradores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Alumnos" asp-action="Index">Alumnos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Profesores" asp-action="Index">Profesores</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-controller="Materias" asp-action="Index">Materias</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <ul class="navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                @User.FindFirstValue(ClaimTypes.GivenName) <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @if (User.IsInRole(nameof(Rol.Estudiante)))
                                {
                                    <li>
                                        <a class="nav-link text-dark" asp-controller="Materias" asp-action="Index">Ver Materias</a>
                                    </li>
                                }
                                <li>
                                    <form id="logoutForm" method="post" asp-controller="Accesos" asp-action="Logout">
                                        <button type="submit" class="btn btn-link p-0 pl-2 text-dark">
                                            Salir
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </li>

                    </ul>


                </div>
            </nav>

        </header>

    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Alkemy Academy
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
